spring:
  datasource:
    url: jdbc:mysql://101.91.217.76:3306/xiermall_ums?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&nullCatalogMeansCurrent=true
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  cloud:
      nacos:
        server-addr: 127.0.0.1:8848
  application:
      name: xier-member

mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml
  global-config:
   db-config:
     id-type: auto
server:
  port: 8000